p { 
    font-size: 20px; 
}

footer {
    background-color: white;
    color: black;
}

a:link {
    color: black;
}
a:visited {
    color: black;
}

a:hover {
    background-color: #5b8289;
    color: black;
    border-radius: 20px;
}

a:active {
    background-color: #5b8289;
    color: black;
}